/*------------------------------------------------------------------- Mobile Responsiveness ---------------------------------------------------------------------*/

@media only screen and (max-width: 280px) {

    /* root content */

    html {
        overflow-x: hidden;
    }

    /* main layout */

    body {
        overflow-y: hidden;
    }

    /* loader */

    .loader_bg .loader img {
        margin-left: 55px;
    }

    /* header */

    .header {
        width: 100%;
    }

    .header .logo a img {
        margin-top: 60px;
        height: 80px;
        width: auto;
        object-fit: cover;
    }

    .header .menu-area {
        margin-top: -10px;
    }

    /* hero */

    #main_slider .carousel-caption h1 {
        margin-top: -140px;
    }

    #main_slider .carousel-caption a[role*="button"] {
        display: none;
    }

    #main_slider .img-box figure img {
        margin: 50px 0 auto;
        object-fit: cover;
        height: fit-content;
    }

    /* about */

    .about {
        height: 2350px;
    }

    .about .about-box {
        width: fit-content;
        height: 2200px;
    }

    .about .about-box .titlepage h2 {
        margin-top: -800px;
    }

    .about .about-box .titlepage span {
        text-align: center;
    }

    #about-box {
        display: none;
    }

    /* plants */

    .plants .titlepage h2::after {
        top: 80%;
        width: 60%;
    }

    .plants .titlepage span {
        padding-left: 5px;
        padding-right: 5px;
    }

    .plants h4 {
        font-size: 2rem;
    }

    .plants .plants-box:hover {
        transform: none;
    }

    .plants .plants-box h3 {
        font-size: 1.75rem;
    }

    #plant #h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* gallery */

    #gallery {
        margin-top: 3380px;
    }

    #gallery .titlepage h2::after {
        top: 80%;
        width: 70%;
    }

    /* footer */

    #contact.footer {
        height: 850px;
    }

    #contact.footer .Hours p,
    #contact.footer .Hours h3 {
        margin-right: 45px;
    }

    ul.link {
        display: block;
        padding-top: 10px;
        height: 10px;
    }

    ul.link li {
        display: block;
        height: auto;
    }

    ul.link li:hover {
        flex: none;
    }

    ul.link li:hover a {
        transform: none;
    }

    .copyright {
        margin-top: 100px;
        height: 150px;
    }
}

@media only screen and (min-width: 281px) and (max-width: 288px) {

    /* root content */

    html {
        overflow-x: hidden;
    }

    /* main layout */

    body {
        overflow-y: hidden;
    }

    /* loader */

    .loader_bg .loader img {
        margin-left: 55px;
    }

    /* header */

    .header {
        width: 100%;
    }

    .header .logo a img {
        margin-top: 60px;
        height: 80px;
        width: auto;
        object-fit: cover;
    }

    .header .menu-area {
        margin-top: -10px;
    }

    /* hero */

    #main_slider .carousel-caption h1 {
        margin-top: -140px;
    }

    #main_slider .carousel-caption a[role*="button"] {
        display: none;
    }

    #main_slider .img-box figure img {
        margin: 50px 0 auto;
        object-fit: cover;
        height: fit-content;
    }

    /* about */

    .about {
        height: 2400px;
    }

    .about .about-box {
        width: fit-content;
        height: 2230px;
    }

    .about .about-box .titlepage h2 {
        margin-top: -820px;
    }

    .about .about-box .titlepage h2::after {
        width: 100%;
    }

    .about .about-box .titlepage span {
        text-align: center;
    }

    #about-box {
        display: none;
    }

    /* plants */

    .plants .titlepage h2::after {
        top: 80%;
        width: 60%;
    }

    .plants .titlepage span {
        padding-left: 5px;
        padding-right: 5px;
    }

    .plants h4 {
        font-size: 2rem;
    }


    .plants .plants-box:hover {
        transform: none;
    }

    .plants .plants-box h3 {
        font-size: 1.75rem;
    }

    #plant #h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* gallery */

    #gallery {
        margin-top: 3340px;
    }

    #gallery .titlepage h2::after {
        top: 80%;
        width: 90%;
    }

    /* footer */

    #contact.footer {
        height: 850px;
    }

    #contact.footer .Hours p,
    #contact.footer .Hours h3 {
        margin-right: 45px;
    }

    ul.link {
        display: block;
        padding-top: 10px;
        height: 10px;
    }

    ul.link li {
        display: block;
        height: auto;
    }

    ul.link li:hover {
        flex: none;
    }

    ul.link li:hover a {
        transform: none;
    }

    .copyright {
        margin-top: 100px;
        height: 150px;
    }
}

@media only screen and (min-width: 289px) and (max-width: 293px) {

    /* root content */

    html {
        overflow-x: hidden;
    }

    /* main layout */

    body {
        overflow-y: hidden;
    }

    /* loader */

    .loader_bg .loader img {
        margin-left: 55px;
    }

    /* header */

    .header {
        width: 100%;
    }

    .header .logo a img {
        margin-top: 60px;
        height: 80px;
        width: auto;
        object-fit: cover;
    }

    .header .menu-area {
        margin-top: -10px;
        margin-bottom: 50px;
    }

    /* hero */

    #main_slider .carousel-caption h1 {
        margin-top: -140px;
    }

    #main_slider .carousel-caption a[role*="button"] {
        display: none;
    }

    #main_slider .img-box figure img {
        margin: 50px 0 auto;
        object-fit: cover;
        height: fit-content;
    }

    /* about */

    .about {
        height: 2250px;
    }

    .about .about-box {
        width: fit-content;
        height: 2100px;
    }

    .about .about-box .titlepage h2 {
        margin-top: -740px;
    }

    .about .about-box .titlepage h2::after {
        width: 100%;
    }

    .about .about-box .titlepage span {
        text-align: center;
    }

    #about-box {
        display: none;
    }

    /* plants */

    .plants .titlepage h2::after {
        top: 80%;
        width: 60%;
    }

    .plants .titlepage span {
        padding-left: 5px;
        padding-right: 5px;
    }

    .plants h4 {
        font-size: 2rem;
    }


    .plants .plants-box:hover {
        transform: none;
    }

    .plants .plants-box h3 {
        font-size: 1.75rem;
    }

    #plant #h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* gallery */

    #gallery {
        margin-top: 3340px;
    }

    #gallery .titlepage h2::after {
        top: 80%;
        width: 90%;
    }

    /* footer */

    #contact.footer {
        height: 850px;
    }

    #contact.footer .Hours p,
    #contact.footer .Hours h3 {
        margin-right: 45px;
    }

    ul.link {
        display: block;
        padding-top: 10px;
        height: 10px;
    }

    ul.link li {
        display: block;
        height: auto;
    }

    ul.link li:hover {
        flex: none;
    }

    ul.link li:hover a {
        transform: none;
    }

    .copyright {
        margin-top: 100px;
        height: 150px;
    }
}

@media only screen and (min-width: 294px) and (max-width: 299px) {

    /* root content */

    html {
        overflow-x: hidden;
    }

    /* main layout */

    body {
        overflow-y: hidden;
    }

    /* loader */

    .loader_bg .loader img {
        margin-left: 55px;
    }

    /* header */

    .header {
        width: 100%;
    }

    .header .logo a img {
        margin-top: 60px;
        height: 80px;
        width: auto;
        object-fit: cover;
    }

    .header .menu-area {
        margin-top: -10px;
        margin-bottom: 50px;
    }

    /* hero */

    #main_slider .carousel-caption h1 {
        margin-top: -140px;
    }

    #main_slider .carousel-caption a[role*="button"] {
        display: none;
    }

    #main_slider .img-box figure img {
        margin: 50px 0 auto;
        object-fit: cover;
        height: fit-content;
    }

    /* about */

    .about {
        height: 2180px;
    }

    .about .about-box {
        width: fit-content;
        height: 2000px;
    }

    .about .about-box .titlepage h2 {
        margin-top: -700px;
    }

    .about .about-box .titlepage h2::after {
        width: 100%;
    }

    .about .about-box .titlepage span {
        text-align: center;
    }

    #about-box {
        display: none;
    }

    /* plants */

    .plants .titlepage h2::after {
        top: 80%;
        width: 60%;
    }

    .plants .titlepage span {
        padding-left: 5px;
        padding-right: 5px;
    }

    .plants h4 {
        font-size: 2rem;
    }


    .plants .plants-box:hover {
        transform: none;
    }

    .plants .plants-box h3 {
        font-size: 1.75rem;
    }

    #plant #h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* gallery */

    #gallery {
        margin-top: 3340px;
    }

    #gallery .titlepage h2::after {
        top: 80%;
        width: 90%;
    }

    /* footer */

    #contact.footer {
        height: 850px;
    }

    #contact.footer .Hours p,
    #contact.footer .Hours h3 {
        margin-right: 45px;
    }

    ul.link {
        display: block;
        padding-top: 10px;
        height: 10px;
    }

    ul.link li {
        display: block;
        height: auto;
    }

    ul.link li:hover {
        flex: none;
    }

    ul.link li:hover a {
        transform: none;
    }

    .copyright {
        margin-top: 100px;
        height: 150px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 309px) {

    /* root content */

    html {
        overflow-x: hidden;
    }

    /* main layout */

    body {
        overflow-y: hidden;
    }

    /* loader */

    .loader_bg .loader img {
        margin-left: 55px;
    }

    /* header */

    .header {
        width: 100%;
    }

    .header .logo a img {
        margin-top: 60px;
        height: 80px;
        width: auto;
        object-fit: cover;
    }

    .header .menu-area {
        margin-top: -10px;
        margin-bottom: 50px;
    }

    /* hero */

    #main_slider .carousel-caption h1 {
        margin-top: -140px;
    }

    #main_slider .carousel-caption a[role*="button"] {
        display: none;
    }

    #main_slider .img-box figure img {
        margin: 50px 0 auto;
        object-fit: cover;
        height: fit-content;
    }

    /* about */

    .about {
        height: 2080px;
    }

    .about .about-box {
        width: fit-content;
        height: 1900px;
    }

    .about .about-box .titlepage h2 {
        margin-top: -660px;
    }

    .about .about-box .titlepage h2::after {
        width: 100%;
    }

    .about .about-box .titlepage span {
        text-align: center;
    }

    #about-box {
        display: none;
    }

    /* plants */

    .plants .titlepage h2::after {
        top: 80%;
        width: 60%;
    }

    .plants .titlepage span {
        padding-left: 5px;
        padding-right: 5px;
    }

    .plants h4 {
        font-size: 2rem;
    }


    .plants .plants-box:hover {
        transform: none;
    }

    .plants .plants-box h3 {
        font-size: 1.75rem;
    }

    #plant #h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* gallery */

    #gallery {
        margin-top: 3260px;
    }

    #gallery .titlepage h2::after {
        top: 80%;
        width: 90%;
    }

    /* footer */

    #contact.footer {
        height: 850px;
    }

    #contact.footer .Hours p,
    #contact.footer .Hours h3 {
        margin-right: 45px;
    }

    ul.link {
        display: block;
        padding-top: 10px;
        height: 10px;
    }

    ul.link li {
        display: block;
        height: auto;
    }

    ul.link li:hover {
        flex: none;
    }

    ul.link li:hover a {
        transform: none;
    }

    .copyright {
        margin-top: 100px;
        height: 150px;
    }
}

@media only screen and (min-width: 353px) and (max-width: 359px) {

    /* root content */

    html {
        overflow-x: hidden;
    }

    /* main layout */

    body {
        overflow-y: hidden;
    }

    /* loader */

    .loader_bg .loader img {
        margin-left: 55px;
    }

    /* header */

    .header {
        width: 100%;
    }

    .header .logo a img {
        margin-top: 60px;
        height: 80px;
        width: auto;
        object-fit: cover;
    }

    .header .menu-area {
        margin-top: -10px;
    }

    /* hero */

    #main_slider .carousel-caption h1 {
        margin-top: -140px;
    }

    #main_slider .carousel-caption a[role*="button"] {
        display: none;
    }

    #main_slider .img-box figure img {
        margin: 50px 0 auto;
        object-fit: cover;
        height: fit-content;
    }

    /* about */

    .about {
        height: 1600px;
    }

    .about .about-box {
        width: fit-content;
        height: 1400px;
    }

    .about .about-box .titlepage h2 {
        margin-top: -385px;
    }

    .about .about-box .titlepage h2::after {
        width: 100%;
    }

    .about .about-box .titlepage span {
        text-align: center;
    }

    #about-box {
        display: none;
    }

    /* plants */

    .plants .titlepage h2::after {
        top: 80%;
        width: 60%;
    }

    .plants .titlepage span {
        padding-left: 10px;
        padding-right: 10px;
    }

    .plants h4 {
        font-size: 2rem;
    }


    .plants .plants-box:hover {
        transform: none;
    }

    .plants .plants-box h3 {
        font-size: 1.75rem;
    }

    #plant #h4,
    #plant #funeralSet {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* gallery */

    #gallery {
        margin-top: 3200px;
    }

    #gallery .titlepage h2::after {
        top: 80%;
        width: 70%;
    }

    /* footer */

    #contact.footer {
        height: 800px;
    }

    ul.link {
        display: block;
        padding-top: 10px;
        height: 10px;
    }

    ul.link li {
        display: block;
        height: auto;
    }

    ul.link li:hover {
        flex: none;
    }

    ul.link li:hover a {
        transform: none;
    }

    .copyright {
        margin-top: 100px;
        height: 150px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {

    /* root content */

    html {
        overflow-x: hidden;
    }

    /* main layout */

    body {
        overflow-y: hidden;
    }

    /* loader */

    .loader_bg .loader img {
        margin-left: 55px;
    }

    /* header */

    .header {
        width: 100%;
    }

    .header .logo a img {
        margin-top: 50px;
        height: 100px;
        width: auto;
        object-fit: cover;
    }

    .header .menu-area {
        margin-top: -10px;
        margin-bottom: 50px;
    }

    /* hero */

    #main_slider .carousel-caption h1 {
        margin-top: -140px;
    }

    #main_slider .carousel-caption a[role*="button"] {
        display: none;
    }

    #main_slider .img-box figure img {
        margin: 50px 0 auto;
        object-fit: cover;
        height: fit-content;
    }

    /* about */

    .about {
        height: 1500px;
    }

    .about .about-box {
        width: fit-content;
        height: 1350px;
    }

    .about .about-box .titlepage h2 {
        margin-top: -390px;
    }

    .about .about-box .titlepage h2::after {
        width: 100%;
    }

    .about .about-box .titlepage span {
        text-align: center;
    }

    #about-box {
        display: none;
    }

    /* plants */

    .plants .titlepage span {
        padding-left: 15px;
        padding-right: 15px;
    }

    .plants h4 {
        font-size: 2rem;
    }

    .plants .plants-box:hover {
        transform: none;
    }

    #plant #h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* gallery */

    #gallery {
        margin-top: 3250px;
    }

    #gallery .titlepage h2::after {
        top: 80%;
        width: 80%;
    }

    /* footer */

    #contact.footer {
        height: 800px;
    }

    ul.link {
        display: block;
        padding-top: 10px;
        height: 10px;
    }

    ul.link li {
        display: block;
        height: auto;
    }

    ul.link li:hover {
        flex: none;
    }

    ul.link li:hover a {
        transform: none;
    }

    .copyright {
        margin-top: 100px;
        height: 120px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 410px) {

    /* root content */

    html {
        overflow-x: hidden;
    }

    /* main layout */

    body {
        overflow-y: hidden;
    }

    /* loader */

    .loader_bg .loader img {
        margin-left: 55px;
    }

    /* header */

    .header {
        width: 100%;
    }

    .header .logo a img {
        margin-top: 50px;
        height: 100px;
        width: auto;
        object-fit: cover;
    }

    .header .menu-area {
        margin-top: -10px;
        margin-bottom: 50px;
    }

    /* hero */

    #main_slider .carousel-caption h1 {
        margin-top: -140px;
    }

    #main_slider .carousel-caption a[role*="button"] {
        display: none;
    }

    #main_slider .img-box figure img {
        margin: 50px 0 auto;
        object-fit: cover;
        height: fit-content;
    }

    /* about */

    .about {
        height: 1450px;
    }

    .about .about-box {
        width: fit-content;
        height: 1300px;
    }

    .about .about-box .titlepage h2 {
        margin-top: -340px;
    }

    .about .about-box .titlepage h2::after {
        width: 90%;
    }

    .about .about-box .titlepage span {
        text-align: center;
    }

    #about-box {
        display: none;
    }

    /* plants */

    .plants .titlepage h2::after {
        top: 80%;
        width: 60%;
    }

    .plants .titlepage span {
        padding-left: 20px;
        padding-right: 20px;
    }

    .plants h4 {
        font-size: 2rem;
    }

    .plants .plants-box:hover {
        transform: none;
    }

    .plants .plants-box h3 {
        font-size: 1.75rem;
    }

    #plant #h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* gallery */

    #gallery {
        margin-top: 3260px;
    }

    #gallery .titlepage h2::after {
        top: 80%;
        width: 70%;
    }

    /* footer */

    #contact.footer {
        height: 800px;
    }

    ul.link {
        display: block;
        padding-top: 10px;
        height: 10px;
    }

    ul.link li {
        display: block;
        height: auto;
    }

    ul.link li:hover {
        flex: none;
    }

    ul.link li:hover a {
        transform: none;
    }

    .copyright {
        margin-top: 100px;
        height: 150px;
    }
}

@media only screen and (min-width: 411px) and (max-width: 479px) {

    /* root content */

    html {
        overflow-x: hidden;
    }

    /* main layout */

    body {
        overflow-y: hidden;
    }

    /* loader */

    .loader_bg .loader img {
        margin-left: 55px;
    }

    /* header */

    .header {
        width: 100%;
    }

    .header .logo a img {
        margin-top: 50px;
        height: 130px;
        width: auto;
        object-fit: cover;
    }

    .header .menu-area {
        margin-top: 0;
        margin-bottom: 60px;
    }

    /* hero */

    #main_slider .carousel-caption h1 {
        margin-top: -100px;
    }

    #main_slider .carousel-caption a[role*="button"] {
        display: none;
    }

    #main_slider .img-box figure img {
        margin: 50px 0 auto;
        object-fit: cover;
        height: fit-content;
    }

    /* about */

    .about {
        height: 1250px;
    }

    .about .about-box {
        width: fit-content;
        height: 1100px;
    }

    .about .about-box .titlepage h2 {
        margin-top: -240px;
    }

    .about .about-box .titlepage h2::after {
        width: 80%;
    }

    .about .about-box .titlepage span {
        text-align: center;
    }

    #about-box {
        display: none;
    }

    /* plants */

    .plants .titlepage h2::after {
        top: 80%;
        width: 60%;
    }

    .plants .titlepage span {
        padding-left: 20px;
        padding-right: 20px;
    }

    .plants h4 {
        font-size: 2rem;
    }

    .plants .plants-box:hover {
        transform: none;
    }

    .plants .plants-box h3 {
        font-size: 1.75rem;
    }

    #plant #h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* gallery */

    #gallery {
        margin-top: 3200px;
    }

    #gallery .titlepage h2::after {
        top: 80%;
        width: 70%;
    }

    /* footer */

    #contact.footer {
        height: 800px;
    }

    ul.link {
        display: block;
        padding-top: 10px;
        height: 10px;
    }

    ul.link li {
        display: block;
        height: auto;
    }

    ul.link li:hover {
        flex: none;
    }

    ul.link li:hover a {
        transform: none;
    }

    .copyright {
        margin-top: 100px;
        height: 150px;
    }
}